@import 'tailwindcss';

@theme {
  --font-pretendard: 'Pretendard', sans-serif;

  /* 섹션 간 간격 */
  --spacing-between-sections: clamp(3.5rem, 16vw, 10rem);

  /* header */
  --color-header-text: #878787;

  /* footer */
  --color-font-footer-description: #949494;

  /* 섹션 제목 */
  --color-font-title: #414141;
}
